[submodule "z-data"]
	path = z-data
	url = https://github.com/haskell-Z/z-data.git
[submodule "z-io"]
	path = z-io
	url = https://github.com/haskell-Z/z-io.git
[submodule "z-example"]
	path = z-example
	url = git@github.com:haskell-Z/z-example.git
[submodule "z-botan"]
	path = z-botan
	url = git@github.com:haskell-Z/z-botan.git
